<div class="card">
  <img alt="Logomarca" src="{{ negocio.logomarca }}" />
  <div class="card_dados">
    <h4> {{ negocio.nome }} </h4>
    <h6> {{ negocio.telefone }} </h6>
  </div>
  <p> {{ negocio.descricao }} </p>
  <button pButton (click)="mostrarDetalhes()" label="Detalhes" icon="pi pi-eye"></button>
 </div>

<p-dialog header="Detalhes" [(visible)]="visivel" [modal]="true" [style]="{ width: '80vw', height: '90vw' }" [draggable]="false" [resizable]="false">
  <img src="{{ negocio.logomarca }}" alt="Logo">
  <h2>{{ negocio.nome }}</h2>
  <h5>{{ negocio.telefone }}</h5>
  <p>{{ negocio.descricao }}</p>
  <p-button (onClick)="fecharDetalhes()" label="Fechar"></p-button>
</p-dialog>
