/* Estilos para o card */
.card {
  width: 260px;
  height: 260px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  border: 3px solid #cccccc41;
}

/* Estilos para a imagem */
.card img {
  max-width: 100%;
  height: auto;
}

/* Estilos para o título */
.card h4 {
  font-size: 18px;
  margin: 0;
}

.card h6 {
  font-size: 14px;
  margin: 0;
}

/* Estilos para a descrição */
.card p {
  font-size: 14px;
  margin: 10px 5px;
}

/* Estilos para os botões */
.card button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card button:hover {
  background-color: #0056b3;
}
