<section class="rodape">

  <div class="surface-section py-3 px-8 border-top-1 surface-border border-round">

    <div class="flex flex flex-column lg:flex-row lg:align-items-center justify-content-between">

      <div class="flex align-items-center">
        <img src="../../../assets/imgs/logomarca.png" alt="Logomarca" height="60" class="mr-0 lg:mr-6">
      </div>

      <div class="flex flex-column lg:flex-row lg:align-items-center lg:my-0 my-4">
        <a class="text-700 cursor-pointer mb-2 lg:mb-0">Política da Marca</a>
        <a class="text-700 cursor-pointer mb-2 lg:mb-0 ml-0 lg:ml-4">Política de Privacidade</a>
        <a class="text-700 cursor-pointer mb-2 lg:mb-0 ml-0 lg:ml-4">Termos de Serviço</a>
      </div>

      <div class="flex align-items-center lg:justify-content-between">
        <a class="cursor-pointer text-500"><i class="pi pi-twitter text-xl"></i></a>
        <a class="cursor-pointer text-500 ml-2"><i class="pi pi-facebook text-xl"></i></a>
        <a class="cursor-pointer text-500 ml-2"><i class="pi pi-github text-xl"></i></a>
      </div>

    </div>

  </div>

</section>
