<section class="rodape m-1">

  <div class="surface-section py-3 px-8 border-top-1 surface-border border-round">

    <div class="flex flex flex-column lg:flex-row lg:align-items-center justify-content-between">

      <div class="flex align-items-center">
        <img src="../../../assets/imgs/logomarca.png" alt="Logomarca" height="60" class="mr-0 lg:mr-6">
      </div>

      <div class="flex flex-column lg:flex-row lg:align-items-center lg:my-0 my-4">
        <a class="text-700 cursor-pointer mb-2 lg:mb-0">© Copyright 2023 Link Informática. Todos os direitos reservados.</a>
      </div>

      <div class="flex align-items-center lg:justify-content-between">
        <a href="https://www.instagram.com/agryo/" target="_blank" class="cursor-pointer text-500 ml-2">
          <i class="pi pi-instagram text-xl"></i>
        </a>
        <a href="https://twitter.com/agryo" target="_blank" class="cursor-pointer text-500 ml-2">
          <i class="pi pi-twitter text-xl"></i>
        </a>
        <a href="https://github.com/agryo" target="_blank" class="cursor-pointer text-500 ml-2">
          <i class="pi pi-github text-xl"></i>
        </a>
      </div>

    </div>

  </div>

</section>
