<section class="cruzeta">
  <header>
    <h1>História de Cruzeta</h1>
  </header>

  <main>
    <p>
      Cruzeta é uma cidade do interior do Rio Grande do Norte, localizada na região do Seridó. A cidade foi fundada em 24 de outubro de 1920, por iniciativa do então governador do estado, Juvenal Lamartine de Farias.
    </p>

    <p>
      O primeiro povoado na região surgiu no século XVIII, quando o português Antônio Pais de Bulhões construiu uma fazenda às margens do Rio São José. A fazenda foi batizada de "Remédio", em homenagem a uma cruz que foi erguida no local.
    </p>

    <p>
      Em 1920, o governador Juvenal Lamartine de Farias decidiu construir um açude na região. A construção do açude atraiu pessoas de toda a região, e o povoado de Remédio começou a crescer.
    </p>

    <p>
      Em 24 de outubro de 1920, a cidade de Cruzeta foi oficialmente fundada. A cidade recebeu o nome de "Cruzeta" em homenagem à cruz que foi erguida no local onde foi construída a primeira igreja.
    </p>

    <p>
      Cruzeta cresceu rapidamente, e tornou-se um importante centro comercial e cultural da região do Seridó. Hoje, a cidade é conhecida por suas belas paisagens naturais, sua rica história e sua hospitalidade.
    </p>

    <p>
      **Fontes:**
    </p>

    <ul>
      <li><a href="https://www.portfólioculturalrn.com.br/cruzeta/">Portfólio Cultural RN</a></li>
      <li><a href="https://leis.al.rn.gov.br/legislacao/decreto/2016/decreto-1078-2016">Lei nº 1.078, de novembro de 2016</a></li>
    </ul>

    <h2>Adicionais</h2>

    <ul>
      <li>
        **Cores da bandeira:**
          <ul>
            <li>Branco: paz, amizade, trabalho, prosperidade, pureza e religiosidade.</li>
            <li>Amarelo: glória, esplendor, grandeza e riqueza.</li>
            <li>Vermelho: dedicação, amor pátrio, audácia, intrepidez, coragem e valentia.</li>
            <li>Azul: justiça, nobreza, perseverança, zelo, realidade, recreação e formosura.</li>
          </ul>
      </li>
      <li>
        **Brasão de armas:**
          <ul>
            <li>Coroa mural: símbolo universal dos brasões de domínio.</li>
            <li>Cor azul: justiça, nobreza, perseverança, zelo, lealdade, recreação e formosura.</li>
            <li>Faixas ondadas: representam os rios Salgado, Quimporó e do Meio.</li>
            <li>Cruzes recruzetadas: lembram o topôneo da cidade e os pendores religiosos do seu povo.</li>
            <li>Peixe nadante: lembra a piscicultura dos rios da região.</li>
            <li>Galhos de algodão: lembram o principal produto oriundo da terra dadivosa e fértil.</li>
          </ul>
      </li>
      <li>
        **Hino municipal:**
          <ul>
            <li>Inaugurado em 2016.</li>
            <li>Compposto pelo Maestro Humberto Carlos Dantas e a professora Maria Margarida de Medeiros Dantas.</li>
          </ul>
      </li>
    </ul>
  </main>
</section>
