<section class="menu flex justify-content-center flex-wrap" [ngClass]="{'fixed-menu': isMenuFixed}">
  <p-menubar class="ml-1 mr-1 w-full" [model]="items">
    <ng-template pTemplate="start">
      <a href="/">
        <img class="mx-8" src="../../../assets/imgs/logo-guia-trs.png" height="60" />
      </a>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="flex flex-row mx-8">
        <div class="flex align-items-center justify-content-center mx-1">
          <p-button icon="pi pi-user" severity="success" (click)="mostrarCadastro()"></p-button>
        </div>
        <div class="flex align-items-center justify-content-center mx-1">
          <p-button icon="{{ buttonTema.icon }}" (click)="mudarTema()"></p-button>
        </div>
      </div>
    </ng-template>
  </p-menubar>
</section>

<p-dialog header="Entrar" [(visible)]="visivel" [modal]="true" [style]="{ width: '80vw', height: '90vw' }" [draggable]="false" [resizable]="false">

</p-dialog>
