<section class="menu">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
        <img src="../../../assets/imgs/logomarca.png" height="60" class="px-8 mr-8" />
    </ng-template>
    <ng-template pTemplate="end">
      <div class="px-8 mr-8">
        <a class="cursor-pointer text-500"><i class="pi pi-twitter text-xl"></i></a>
        <a class="cursor-pointer text-500 ml-2"><i class="pi pi-facebook text-xl"></i></a>
        <a class="cursor-pointer text-500 ml-2"><i class="pi pi-github text-xl"></i></a>
      </div>
    </ng-template>
  </p-menubar>
</section>
