.fixed-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ajuste conforme necessário para evitar que outros elementos fiquem por cima */
  /* Adicione outros estilos desejados aqui */
}
